<div id="left"><br/>
			
</div>	
<div id="body">
	<div id="content">
		<div id="otherChoice">
			<form method=post action='home'>
				<h2>Login</h2>

				&nbsp;&nbsp;<label>Email: <input type ="text" name="name" size="25" maxlength="30" /></label>
				<br/>
				<br/>
				&nbsp;&nbsp;<label>Password: &nbsp;&nbsp;<input type ="password" name="pass" size="25" maxlength="30" /></label>
				<p><input type="submit" value="Login"/>
					<br/><br/>
					<%= link_to "Sign up now!", signup_path, :class => "signup_button" %>
				</p>
			</form>
		</div>
	</div>	
</div>	